.DS_Store
.project
.settings
test/testchain/geth
test/testchain/geth.ipc
test/testchain/history
test/contracts
rbtTest/testchain/geth
rbtTest/testchain/geth.ipc
rbtTest/testchain/history
rbtTest/contracts
private


node_modules

#Hardhat files
cache
artifacts

.DS_Store
.project
.settings
scripts/raw/*.json
scripts/osraw/*.json
scripts/node_modules
scripts/package-lock.json
private

coverage/*
coverage.json
